#rose-chart {
    width: 60%;
    height: 400px;
    background-color: rgba(6, 30, 93, 0.5);
    border-top: 2px solid rgba(1, 153, 209, 0.5);
    box-sizing: border-box;
}

#rose-chart > .rose-chart-title {
    height: 50px;
    font-weight: bold;
    text-indent: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
}  