.form-wrap{
    display: flex;
    width: 16%;
    height: 10%;
    margin: auto;
    text-align: center;
    padding: 16% 0;
    align-items: center;
    
}

.form-wrap > div {width: 100%;background-color:darkgray;}

.form-header{
    height: 56px;
    line-height: 56px;
    color: red;
}

.form-header > span{
    float: right;
    font-size: 12px;
}

.column{
    float: left;
    font-size: 16px;
}

.login-form-button{
    margin: 0 16px;
}