.form-wrap{
    /* display: flex; */
    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
    padding: 20% 0;
    align-items: center;
}

.form-wrap > div {width: 100%;background-color:darkgray;}

.form-header{
    height: 56px;
    line-height: 56px;
    color: red;
}

.form-header > span{
    float: right;
    font-size: 12px;
}

.column{
    float: left;
    font-size: 16px;
    margin-bottom: 0 !important;
}

.remember{
    float: left;
    margin-left: 5px !important;
}

.login-form-forgot{
    float: right;
    margin-top: 4px;
    width: 180px !important;
}

.login-form-button{
    margin-top: 10px;
    width: 200px !important;
}